
<html>
  <head>
    <title> Kommentar </title>
  </head>
  
  <body>
    <h1> Kommentar:</h1>
      <ul>
      <li> <%= Kommentar.name%> </li>
      </ul>
    <form method="POST" action="http://localhost:3001/main.ejs/<%= Kommentar.id%>" >
    </form>
    <!-- Nach dem Löschen gehts zurück zur Übersicht/Startseite --> 
   <form method="POST" action="http://localhost:3001/KommentarListe.ejs/<%= Kommentar.id%>" >
        <input type="submit" value="löschen" style="width: 200px; height:30ps"/>
    </form>
    
    <a href="http://localhost:3001/main.ejs"> Zurueck zur Startseite</a>
  </body>
</html>
